@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
}

@layer components {
  .input {
    @apply w-full border border-gray-300 rounded-lg px-3 py-2
           focus:outline-none focus:ring-2 focus:ring-primary;
  }

  .btn-primary {
    @apply bg-primary text-white py-2 rounded-lg hover:opacity-90 transition;
  }

  .card {
    @apply bg-white p-6 rounded-xl shadow-lg;
  }
}
